flows.json
[
    {
        "id": "60b9e09b85f5adeb",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c23ad6c70e513da2",
        "type": "mqtt in",
        "z": "60b9e09b85f5adeb",
        "name": "",
        "topic": "adat",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "57b9e6b49e82644d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 730,
        "y": 380,
        "wires": [
            [
                "8bd2e7c72a9480b8",
                "9f830874060f87f3"
            ]
        ]
    },
    {
        "id": "6ebabe51971565c9",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 100,
        "wires": []
    },
    {
        "id": "4296ab3d6dce6b60",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 140,
        "wires": []
    },
    {
        "id": "79996b9de00319eb",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 360,
        "wires": []
    },
    {
        "id": "6b9a3e4dce5d9775",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu0\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 180,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "2fdae7c727f63696",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 220,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "f6cfa9333123cf8f",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 260,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "d02fb59f05b328cb",
        "type": "join",
        "z": "60b9e09b85f5adeb",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "15",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1550,
        "y": 420,
        "wires": [
            [
                "79996b9de00319eb",
                "87a7d451050160ff",
                "ad45652de0dfcba8",
                "0366f031e11df9f0",
                "66e0219218b1fd5c"
            ]
        ]
    },
    {
        "id": "44733ac91be2c990",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu3\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 300,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "9be917a95871a3de",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu4\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 340,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "d16da0f8d74b3d67",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu5\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 380,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "d05fec459ee1cba0",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu6\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 420,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "6dfa836ce48c9796",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu7\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 460,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "c6689077dd6ff8c7",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu8\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 500,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "825f6592a7571954",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu9\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 540,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "24b18529cd12848c",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu10\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 580,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "22da03365299d0cc",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu11\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 620,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "817fc8e6d533ab0e",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu12\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1341.7357788085938,
        "y": 658.0909423828125,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "ba9ac653fdd37302",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"mpu13\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 700,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "78831aeb4c9491a8",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "mpu topic",
        "func": "msg.topic=\"time\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 760,
        "wires": [
            [
                "d02fb59f05b328cb"
            ]
        ]
    },
    {
        "id": "515f28b5a4c6df86",
        "type": "file",
        "z": "60b9e09b85f5adeb",
        "name": "",
        "filename": "/share/ment.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1760,
        "y": 440,
        "wires": [
            [
                "906a59e8c213307f"
            ]
        ]
    },
    {
        "id": "906a59e8c213307f",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "debug ment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 440,
        "wires": []
    },
    {
        "id": "8bd2e7c72a9480b8",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "ad45652de0dfcba8",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "function 5",
        "func": "var time = context.get(\"time\");\nvar get_tim = msg.payload[14].time;\n\nif (isNaN(time)) {\n\n    time = 0;\n}\n\n\nmsg.payload = get_tim - time;\n\ncontext.set(\"time\", get_tim); \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1740,
        "y": 600,
        "wires": [
            [
                "33f00cbcf30e393d"
            ]
        ]
    },
    {
        "id": "87a7d451050160ff",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "debug tme",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.time.time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 320,
        "wires": []
    },
    {
        "id": "33f00cbcf30e393d",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "time delta",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1880,
        "y": 600,
        "wires": []
    },
    {
        "id": "9f830874060f87f3",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "buffer",
                "name": "mpu0",
                "offset": 0,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu1",
                "offset": 18,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu2",
                "offset": 36,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu3",
                "offset": 54,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu4",
                "offset": 72,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu5",
                "offset": 90,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu6",
                "offset": 108,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu7",
                "offset": 126,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu8",
                "offset": 144,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu9",
                "offset": 162,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu10",
                "offset": 180,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu11",
                "offset": 198,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu12",
                "offset": 216,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "mpu13",
                "offset": 234,
                "length": 18,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "buffer",
                "name": "time",
                "offset": 252,
                "length": 4,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "value",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 930,
        "y": 440,
        "wires": [
            [
                "6ebabe51971565c9",
                "def7d2803a595819",
                "a2499a6e0a7be52e",
                "2b00afe095cf9fc6",
                "0927df7420f4ee96",
                "1c4ab47f60eb0b83",
                "5f26630eea5c570b",
                "a46d1ee438507025",
                "7cb74e67f6e3c333",
                "0c3cdb0290c83e72",
                "fae7e48c75c78af5",
                "03b51901e2b6f9a3",
                "a540a21dc5471d6f",
                "0c02d37e391433a6",
                "d34a1033f1108f7b",
                "58bb1e851fe1e89f"
            ]
        ]
    },
    {
        "id": "a2499a6e0a7be52e",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu1",
        "data": "payload[1]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "2fdae7c727f63696"
            ]
        ]
    },
    {
        "id": "58bb1e851fe1e89f",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "tim",
        "data": "payload[14]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "time",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 760,
        "wires": [
            [
                "78831aeb4c9491a8"
            ]
        ]
    },
    {
        "id": "def7d2803a595819",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu0",
        "data": "payload[0]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 180,
        "wires": [
            [
                "4296ab3d6dce6b60",
                "6b9a3e4dce5d9775"
            ]
        ]
    },
    {
        "id": "2b00afe095cf9fc6",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu2",
        "data": "payload[2]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 260,
        "wires": [
            [
                "f6cfa9333123cf8f"
            ]
        ]
    },
    {
        "id": "0927df7420f4ee96",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu3",
        "data": "payload[3]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 300,
        "wires": [
            [
                "44733ac91be2c990"
            ]
        ]
    },
    {
        "id": "1c4ab47f60eb0b83",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu4",
        "data": "payload[4]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 340,
        "wires": [
            [
                "9be917a95871a3de"
            ]
        ]
    },
    {
        "id": "5f26630eea5c570b",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu5",
        "data": "payload[5]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "d16da0f8d74b3d67"
            ]
        ]
    },
    {
        "id": "a46d1ee438507025",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu6",
        "data": "payload[6]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "d05fec459ee1cba0"
            ]
        ]
    },
    {
        "id": "7cb74e67f6e3c333",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu7",
        "data": "payload[7]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "6dfa836ce48c9796"
            ]
        ]
    },
    {
        "id": "0c3cdb0290c83e72",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu8",
        "data": "payload[8]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "c6689077dd6ff8c7"
            ]
        ]
    },
    {
        "id": "fae7e48c75c78af5",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu9",
        "data": "payload[9]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 540,
        "wires": [
            [
                "825f6592a7571954"
            ]
        ]
    },
    {
        "id": "03b51901e2b6f9a3",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu10",
        "data": "payload[10]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 580,
        "wires": [
            [
                "24b18529cd12848c"
            ]
        ]
    },
    {
        "id": "a540a21dc5471d6f",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu11",
        "data": "payload[11]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 620,
        "wires": [
            [
                "22da03365299d0cc"
            ]
        ]
    },
    {
        "id": "0c02d37e391433a6",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu12",
        "data": "payload[12]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 660,
        "wires": [
            [
                "817fc8e6d533ab0e"
            ]
        ]
    },
    {
        "id": "d34a1033f1108f7b",
        "type": "buffer-parser",
        "z": "60b9e09b85f5adeb",
        "name": "mpu13",
        "data": "payload[13]",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16le",
                "name": "acc",
                "offset": 0,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "gyro",
                "offset": 6,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "int16le",
                "name": "mag",
                "offset": 12,
                "length": 3,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1170,
        "y": 700,
        "wires": [
            [
                "ba9ac653fdd37302"
            ]
        ]
    },
    {
        "id": "c4e22606b9683d02",
        "type": "ros-publish",
        "z": "60b9e09b85f5adeb",
        "server": "a7ae682b37a10769",
        "topicname": "/imu2",
        "typepackage": "std_msgs",
        "typename": "Int64MultiArray",
        "stampheader": false,
        "x": 1870,
        "y": 700,
        "wires": []
    },
    {
        "id": "0366f031e11df9f0",
        "type": "debug",
        "z": "60b9e09b85f5adeb",
        "name": "debug tme",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[14].time",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 280,
        "wires": []
    },
    {
        "id": "66e0219218b1fd5c",
        "type": "function",
        "z": "60b9e09b85f5adeb",
        "name": "ros array",
        "func": "var data = {};\n\nfor (let i = 0; i < 14; i++) {\n\n    data[(9 * i)] = msg.payload[i].acc[0]\n    data[((9 * i) + 1)] = msg.payload[i].acc[1]\n    data[((9 * i) + 2)] = msg.payload[i].acc[2]\n\n    data[((9 * i) + 3)] = msg.payload[i].gyro[0]\n    data[((9 * i) + 4)] = msg.payload[i].gyro[1]\n    data[((9 * i) + 5)] = msg.payload[i].gyro[2]\n\n    data[((9 * i) + 6)] = msg.payload[i].mag[0]\n    data[((9 * i) + 7)] = msg.payload[i].mag[1]\n    data[((9 * i) + 8)] = msg.payload[i].mag[2]\n}\n\ndata[126] = msg.payload[14].time;\n\n\nconst myarray = Object.values(data)\n\nvar msg2 = {\n    payload: {\n        \"layout\": {\n            \"dim\": [],\n            \"data_offset\": 0\n        },\n        \"data\": myarray\n    }\n};\n\n\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 720,
        "wires": [
            [
                "c4e22606b9683d02"
            ]
        ]
    },
    {
        "id": "57b9e6b49e82644d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a7ae682b37a10769",
        "type": "ros-server",
        "url": "ws://127.0.0.1:9090"
    }
]